@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

:root {
  --font-sans: "Inter";
}

@media (min-width: 768px) {
  div#ladle-root {
    flex-direction: row-reverse;
    @apply min-h-screen dark:bg-black dark:text-white;
  }

  div[data-reach-dialog-overlay] > div {
    right: 21px;
    inset-inline-start: auto;
  }
}

body {
  position: relative;
}

html {
  -webkit-tap-highlight-color: transparent;
}

.ladle-main > div {
  @apply min-h-screen px-10 pt-10;
}

#ladle-root > div {
  @apply !min-h-screen;
}

.ladle-main,
.frame-content {
  @apply bg-background p-0;
}

/* [data-theme="dark"] .ladle-main,
[data-theme="dark"] .frame-content {
  @apply bg-black p-0;
} */

.dark .ladle-background{
  @apply bg-background;
}

